
.rows{ 
	text-align:right;
	line-height:35px;
}

label{
	float:left;
}

fieldset{
	width: 350px;
	background: #fffee5;
}

input{
	width: 150px;
}
legend{
	font-size: 19px;
	font-weight: bold;
	color: #5f4b2d;
}
input[type="submit"]{
	width: 100px;
	background: #a24b2d;
    color: #fffee5;
}
